<table class="table table-striped table-responsive">
  <thead>
    <% @form.questions.each do |question| %>
      <th><%= question.question %></th>
    <% end %>
  </thead>
  <tbody>
    <% @answers.each do |count_answer, answers| %>
      <% answer_data = group_by_question(answers) %>
      <tr>
        <% answer_data.each do |question, ans| %>
          <td>
            <% ans.each do |answer| %>
              <% if question.input_type == "multiple_option" || question.input_type == "single_option" %>
                <%= answer.option.blank? ? "" : answer.option.option_value %>
              <% else %>
                <%= answer.value.blank? ? "" : answer.value %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @answers %>