<% question.options.each do |option| %>
  <%= f.fields_for :answers, current_user.answers.find_or_initialize_by(question_id: question.id, option_id: option.id) do |sub_f| %>
    <div class="form-check">
      <%= sub_f.check_box :option_id, { class: "form-check-input", checked: sub_f.object.persisted? }, option.id, "false" %>
      <%= sub_f.label :option_id, option.option_text, for: "user_answers_attributes_2_option_id_#{option.id}", class: "form-check-label" %>
    </div>
    <%= sub_f.hidden_field :question_id, value: question.id %>
  <% end %>
<% end %>
