<% question.options.each do |option| %>
  <%= f.fields_for :answers, current_user.answers.build do |sub_f| %>
    <div class="form-check">
      <%= sub_f.check_box :option_id, { class: "form-check-input" }, option.id, nil %>
      <%= sub_f.label :option_id, option.option_text, for: "user_answers_attributes_2_option_id_#{option.id}", class: "form-check-label" %>
    </div>
    <%= sub_f.hidden_field :question_id, value: question.id %>
  <% end %>
<% end %>
